<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
    <false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Reso Bridge - Staff</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Reso Bridge - Staff</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<!-- NSPhotoLibraryUsageDescription -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to [insert purpose here], allowing you to [mention specific functionality, e.g., upload, share, or edit photos]. Rest assured, we respect your privacy and will only access the photos required for these features.</string>
<!-- NSCameraUsageDescription -->
    <key>NSCameraUsageDescription</key>
    <string>To enhance your experience, we request access to your camera. This enables you to [mention specific functionality, e.g., capture moments, scan documents, or use augmented reality features]. We value your privacy and will only use the camera for these purposes.</string>
<!-- NSMicrophoneUsageDescription -->
    <key>NSMicrophoneUsageDescription</key>
    <string>If you plan to record videos, we need access to your microphone. This allows you to [mention specific functionality, e.g., record and share videos]. Your privacy is important to us, and we assure you that the microphone will only be used for these specified purposes.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
